* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.stickyboard {
    height: 50vh;
    width: 50vw;
    background-color:bisque;
}

.post-it-note {
    font-size: x-small;
    font-weight: 500;
    max-width: 12.5em;
    width: 50%;
    height: fit-content;
    max-height: 17.5em;
    background-color: #d8ebff;
    padding: 1em;
    word-break: break-all;
    transform: scale(1);
    opacity: 1;
    flex-wrap: wrap;
    cursor: move;
    border: 2px solid black;
    margin: 5px;
}
